<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Hi, I'm Nick. I'm full-stack developer you've been looking for. I have your digital solution on web design and web development. Let's go make your project">
    <meta name="keywords" content="web develop, developer, сайт, сайты, site, sites, сайты под ключ, веб разработка, программист, nickoder, nikoder, nicoder, никодер">
    <meta name="robots" content="all">
    <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(92990533, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/92990533" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Nickoder</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__row">
                    <div class="header__logo">
                        <img src="/media/icons/logo.svg" alt="Logo">
                    </div>
                    <div class="header__navigation">
                        <ul>
                            <li>
                                <div class="navigation__item navigation__item_active gradient" name="about_me">About me</div>
                            </li>
                            <li>
                                <div class="navigation__item" name="skills">Skills</div>
                            </li>
                            <li>
                                <div class="navigation__item" name="portfolio">Portfolio</div>
                            </li>
                        </ul>
                    </div>
                    <div class="header__links links">
                        <ul>
                            <li><a href="https://t.me/nickodertech" target="_blank"><img src="/media/icons/telegram_logo.svg" alt="telegram"></a></li>
                            <li><a href="https://wa.me/79850543623" target="_blank"><img src="/media/icons/whatsapp_logo.svg" alt="whatsapp"></a></li>
                            <li><a href="https://www.linkedin.com/in/nik-nickoder-8b5523269" target="_blank"><img src="/media/icons/linkedin_logo.svg" alt="linkedin"></a></li>
                        </ul>
                    </div>
                    <div class="header__burger">
                        <span></span>
                    </div>
                </div>
            </div>
        </header>

        <div class="welcome" id="about_me">
            <div class="container">
                <div class="welcome__row">
                    <div class="welcome__information">
                        <div class="welcome__about_me">
                            <h1>Hi, <span class="gradient">I'm Nick</span></h1>
                            <p>I'm full-stack developer you've been looking for. I have your digital solution on web design and web development. Let's go make your project</p>
                        </div>
                        <div class="welcome__buttons">
                            <button id="view_portfolio" name="portfolio">View portfolio</button>
                            <button id="contact">Contact me</button>
                        </div>
                    </div>
                    <div class="welcome__photo">
                        <div class="photo__comments">
                            <div class="comment__circle"></div>
                            <div class="comment__lines">
                                <div class="comment__line"></div>
                                <div class="comment__line"></div>
                            </div>
                        </div>
                        <div class="welcome__photo_area">
                            <img src="/media/images/photo1.png" alt="photo">
                        </div>
                        <div class="photo__comments">
                            <div class="comment__circle"></div>
                            <div class="comment__lines">
                                <div class="comment__line"></div>
                                <div class="comment__line"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="skills" id="skills">
            <div class="container">
                <div class="skills__block">
                    <h2 class="title"><span class="gradient">Skills</span></h2>
                    <div class="skills__items">

                        <div class="skills__item">
                            <div class="item__technology">
                                <img src="/media/icons/html_logo.png" alt="">
                                <div class="item__level">
                                    <div class="item__point item__point_orange_active"></div>
                                    <div class="item__point item__point_orange_active"></div>
                                    <div class="item__point item__point_orange_active"></div>
                                    <div class="item__point item__point_orange_active"></div>
                                    <div class="item__point item__point_orange_active"></div>
                                </div>
                            </div>
                        </div>

                        <div class="skills__item">
                            <div class="item__technology">
                                <img src="/media/icons/css_logo.png" alt="">
                                <div class="item__level">
                                    <div class="item__point item__point_purpure_active"></div>
                                    <div class="item__point item__point_purpure_active"></div>
                                    <div class="item__point item__point_purpure_active"></div>
                                    <div class="item__point item__point_purpure_active"></div>
                                    <div class="item__point"></div>
                                </div>
                            </div>
                        </div>

                        <div class="skills__item">
                            <div class="item__technology">
                                <img src="/media/icons/js_logo.png" alt="">
                                <div class="item__level">
                                    <div class="item__point item__point_yellow_active"></div>
                                    <div class="item__point item__point_yellow_active"></div>
                                    <div class="item__point item__point_yellow_active"></div>
                                    <div class="item__point"></div>
                                    <div class="item__point"></div>
                                </div>
                            </div>
                        </div>

                        <div class="skills__item">
                            <div class="item__technology">
                                <img src="/media/icons/python_logo.png" alt="">
                                <div class="item__level">
                                    <div class="item__point item__point_purpure_active"></div>
                                    <div class="item__point item__point_purpure_active"></div>
                                    <div class="item__point item__point_purpure_active"></div>
                                    <div class="item__point item__point_purpure_active"></div>
                                    <div class="item__point item__point_purpure_active"></div>
                                </div>
                            </div>
                        </div>

                        <div class="skills__item">
                            <div class="item__technology">
                                <img src="/media/icons/django_logo.png" alt="">
                                <div class="item__level">
                                    <div class="item__point item__point_green_active"></div>
                                    <div class="item__point item__point_green_active"></div>
                                    <div class="item__point item__point_green_active"></div>
                                    <div class="item__point item__point_green_active"></div>
                                    <div class="item__point"></div>
                                </div>
                            </div>
                        </div>

                        <div class="skills__item">
                            <div class="item__technology">
                                <img src="/media/icons/postgre_logo.png" alt="">
                                <div class="item__level">
                                    <div class="item__point item__point_blue_active"></div>
                                    <div class="item__point item__point_blue_active"></div>
                                    <div class="item__point item__point_blue_active"></div>
                                    <div class="item__point"></div>
                                    <div class="item__point"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="clients">
            <div class="container">
                <div class="clients__title">
                    <h2 class="title"><span class="gradient">My clients</span></h2>
                </div>
            </div>
            <div class="clients__row">
                <div class="clients__slider">

                    <div class="clients_slider__item">
                        <img src="/media/clients/Partner1.svg" alt="">
                    </div>

                    <div class="clients_slider__item">
                        <img src="/media/clients/Partner2.svg" alt="">
                    </div>

                    <div class="clients_slider__item">
                        <img src="/media/clients/Partner3.svg" alt="">
                    </div>

                    <div class="clients_slider__item">
                        <img src="/media/clients/Partner1.svg" alt="">
                    </div>

                    <div class="clients_slider__item">
                        <img src="/media/clients/Partner2.svg" alt="">
                    </div>

                    <div class="clients_slider__item">
                        <img src="/media/clients/Partner3.svg" alt="">
                    </div>

                </div>
            </div>
        </div>

        <div class="portfolio" id="portfolio">
            <div class="container">
                <div class="portfolio__column">
                    <div class="portfolio__title">
                        <h2 class="title"><span class="gradient">Portfolio</span></h2>
                    </div>
                    <div class="portfolio__items">

                        <div class="portfolio__item">
                            <div class="portfolio__item_about">
                                <h3>Web site for a designer</h3>
                                <p>Development of an adaptive website for a designer with an admin panel. With technologies: html, css, jquery, ajax, django</p>
                                <a href="{% url 'portfolio_1' %}" target="_blank">Go to the website</a>
                            </div>
                            <img src="/media/portfolio/macap1.png" alt="macap">
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="footer__row">
                    <div class="footer__group1">
                        <div class="footer__logo">
                            <img src="/media/icons/logo.svg" alt="Logo">
                        </div>
                        <div class="footer__links links">
                            <ul>
                                <li><a href="https://t.me/nickodertech" target="_blank"><img src="/media/icons/telegram_logo.svg" alt="telegram"></a></li>
                                <li><a href="https://wa.me/79850543623" target="_blank"><img src="/media/icons/whatsapp_logo.svg" alt="whatsapp"></a></li>
                                <li><a href="https://www.linkedin.com/in/nik-nickoder-8b5523269" target="_blank"><img src="/media/icons/linkedin_logo.svg" alt="linkedin"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer__group2">
                        <div class="footer__contacts">
                            <h3><a href="tel:+79850543623">+7 985 054 36 23</a></h3>
                            <p><a href="mailto:info@nickoder.tech">info@nickoder.tech</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <div id="contact_me" class="">
        <div id="contact_off"></div>
        <div class="container">
            <div class="contact_me__block">
                <div class="contact_me__row">
                    <div class="contact_me__form">
                        <h3>Submit your application</h3>
                        <form name="form" action="{% url 'get_mail' %}" method="post">
                            {% csrf_token %}
                            {{ form }}
                            <button type="submit">Send</button>
                        </form>
                    </div>
                    <img src="/media/images/image1.png" alt="">
                </div>
                <div class="contact_me__cross">
                    <div class="cross">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="burger" class="">
        <div id="burger_off"></div>
        <div class="burger__menu">
            <div class="container">
                <div class="burger__cross">
                    <div class="cross">
                        <span></span>
                    </div>
                </div>

                <div class="burger__column">
                    <div class="burger__navigations">
                        <ul>
                            <li>
                                <div class="navigation__item navigation__item_active gradient" name="about_me">About me</div>
                            </li>
                            <li>
                                <div class="navigation__item" name="skills">Skills</div>
                            </li>
                            <li>
                                <div class="navigation__item" name="portfolio">Portfolio</div>
                            </li>
                        </ul>
                    </div>

                    <div class="burger__links links">
                        <ul>
                            <li><a href="https://t.me/nickodertech" target="_blank"><img src="/media/icons/telegram_logo.svg" alt="telegram"></a></li>
                            <li><a href="https://wa.me/79850543623" target="_blank"><img src="/media/icons/whatsapp_logo.svg" alt="whatsapp"></a></li>
                            <li><a href="https://www.linkedin.com/in/nik-nickoder-8b5523269" target="_blank"><img src="/media/icons/linkedin_logo.svg" alt="linkedin"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/slick.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>